@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="Home/Privacy" method="get">
        <input type="text" name="name" />
        <button type="submit"> sumbit your name </button>
    </form>
</div>
