<div class="text-center">
    <form action="Home/Privacy" method="get">
        <input type="text" name="name" />
        <button type="submit"> submit your name </button>
    </form>
    <!-- Ensure the _StatsPartial.cshtml file exists in the Views/Home directory -->
</div>
