@model Triplite_Committee_Platform.Models.CollegeModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong>Add College</strong></h3>
    <hr />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>              
                @* <input asp-for="CollegeName" class="form-control" /> *@
                <div class="row g-3 align-items-center mt-2">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <label asp-for="CollegeName" for="CName" class="col-form-label text-center">College Name</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="CollegeName" id="CName" class="form-control" />
                    </div>
                    <span asp-validation-for="CollegeName" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 mb-5 text-center">
                    <input type="submit" value="Create" class="btn btn-primary w-25" />
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@* <h1>Create</h1>

<h4>CollegeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CollegeName" class="control-label"></label>
                <input asp-for="CollegeName" class="form-control" />
                <span asp-validation-for="CollegeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
