@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-center py-4">@ViewData["Title"]</h1>
<p class="text-danger pb-5 text-center fs-4">
    Please check your email to reset your password.
</p>
