@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="text-center py-4">@ViewData["Title"]</h1>
<hr />
<p class="pb-5 pt-5 text-center fs-4">
    Your password has been reset. <a id="Login" class="text-info text-decoration-none text-start" asp-page="./Login"><strong>Go back to Login</strong></a>
</p>
