@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto mt-3 rounded-4">

    <h3 class="mt-4 text-center"><strong class="text-uppercase">Are you sure you want to delete <span class="text-danger">[@Model.Name]</span> Role?</strong></h3>


    <hr />
    <div class="card-body">
        <dl class="row g-3">

            <dt class="col-sm-4 fw-bold">Role Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>
            <hr />
        </dl>
    </div>
</div>


<div class="text-center">

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm">
            Delete
        </button>
        <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete <strong class="text-danger text-uppercase">[@Model.Name]</strong> Role?
                    </div>
                    <hr />
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary me-3 w-25" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger ms-3 w-25">Yes</button>
                    </div>
                </div>
            </div>
        </div>        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>

</div>