@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong>Role Details</strong></h3>
    <hr />
    <div class="card-body">
        <dl class="row g-3">

            <dt class="col-sm-4 fw-bold">Role Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>
            <hr />
        </dl>
    </div>
</div>


<div class="text-center">

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-md">  Edit Role </a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@* <h1>Role Details</h1>

<table class="table">
    <tr>
        <th>Role Name</th>
        <td>@Model.Name</td>
    </tr>
</table>

<a asp-action="Index">Back to List</a> *@
