@model IList<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-5 w-75 mx-auto">
    <div class="row">
        <div class="col-sm-4">
            <strong class="fs-3">Roles List</strong>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-end">
            <a asp-action="Create" class="text-decoration-none text-light btn btn-primary me-1">
                <strong class="fs-5">Add Role</strong>
            </a>
        </div>
    </div>
    <hr />
    <table class="table align-middle mb-0 w-100 bg-white table-striped" id="DTable">
        <thead class="bg-darck">
            <tr>
                <th>Role</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Html.DisplayFor(modelItem => item.Name)</p>
                                
                            </div>
                        </div>
                    </td>


                     

                    <td>
                        <div class="text-center">

                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-opacity-10 btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" id="iconhover"><i class="fa-solid fa-pen fs-4 text-primary"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn bg-opacity-10 btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" id="iconhover"><i class="fa-solid fa-circle-info fs-4 text-secondary"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn bg-opacity-10 btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" id="iconhover"><i class="fa-solid fa-trash fs-4 text-danger"></i></a>
                        </div> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@* DataTable Library used to add filters to the tables *@
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#DTable').DataTable({

        });
    });



    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

</script>

