@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="mt-5 mb-5"></div>
<div class="text-center" role="alert">
    <h4 class="py-5">
        @Localizer["resetMessage"]
    </h4>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <p class="fs-5">
            <a id="Login" class="text-light text-decoration-none text-start" asp-action="Index" asp-controller="Login"><strong>@Localizer["backToLog"]</strong></a>
        </p>
    </div>
    <div class="col-sm-4"></div>
</div>