@model Triplite_Committee_Platform.Models.DepartmentModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong>Edit Department</strong></h3>
    <hr />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="row g-3 align-items-center mt-2">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <label asp-for="CollegeNo" class=" control-label col-form-label text-center">Belongs to College</label>
                        
                    </div>
                    <div class="col-7">
                        
                        <select asp-for="CollegeNo" class="form-control" asp-items="ViewBag.CollegeNo"></select>
                        
                    </div>
                    <span asp-validation-for="CollegeNo" class="text-danger"></span>
                </div>

                <div class="row g-3 align-items-center mt-2">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <label asp-for="DeptName"class="control-label col-form-label text-center">Edit Department Name</label>
                        
                    </div>
                    <div class="col-7">
                        
                        <input asp-for="DeptName" class="form-control" />
                    </div>
                    <span asp-validation-for="DeptName" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="DeptNo" />

                <div class="form-group mt-4 mb-5 text-center">
                    <input type="submit" value="Save" class="btn btn-primary w-25" />
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Index" asp-controller="College" class="btn btn-secondary">Back to List</a>
    
</div>


@* <h1>Edit</h1>

<h4>DepartmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CollegeNo" class="control-label"></label>
                <select asp-for="CollegeNo" class="form-control" asp-items="ViewBag.CollegeNo"></select>
                <span asp-validation-for="CollegeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptName" class="control-label"></label>
                <input asp-for="DeptName" class="form-control" />
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeptNo" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="College">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
