@model Triplite_Committee_Platform.Models.RequestTypeModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["DeleteMessage1"] != null)
{
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="alert alert-danger col-sm-4 text-center" role="alert">
            @TempData["DeleteMessage1"]
            <br />
            <br />
            @TempData["DeleteMessage2"]

        </div>
        <div class="col-sm-4"></div>
    </div>
}
@if (Model != null)
{
    <div class="card w-50 mx-auto mt-3 rounded-4">
        <h3 class="mt-4 text-center"><strong class="text-uppercase">Are you sure you want to delete <span class="text-danger">[@Model?.RequestTypeName]</span> <br /> Request Type </strong></h3>
        <p class="text-center text-dark fw-bold mt-5">This Request Type has the following Reasons</p>
        <hr />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="card border col-sm-8">
                <label class="col-form-label text-center ms-4">@Model.Reasons.Context</label>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="text-center">
            <div class="text-center row mb-4">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="RequestTypeID" />
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                        Delete
                    </button>
                    <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <strong class="text-danger text-uppercase">[@Model?.RequestTypeName]</strong> Request Type
                                </div>
                                <hr />
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary me-3 w-25" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-danger ms-3 w-25">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
}