@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row pt-5 pb-5 text-center">
    <p class="fs-4">@ViewData["ConfirmEmail"]</p>
</div>
<div class="row mb-5 text-center">
    @if (TempData["EmailSent"] != null)
    {
        <div class="row">
            <div class="col-sm-3">
                <p></p>
            </div>
            <div class="alert alert-success w-50 col-sm-3" role="alert">
                @TempData["EmailSent"]
            </div>
            <div class="col-sm-3">
                <p></p>
            </div>
        </div>
    }
</div>
<div style="text-align: center;" class="row pb-5">
    <div class="col-sm-6">
        <form method="post" asp-action="index">
            <button type="submit" class="btn btn-success">I have Confirmed My Account</button>
        </form>
    </div>
    <div class="col-sm-6">
        <form method="post" asp-action="ResendEmail">
            <button type="submit" class="btn btn-dark">Resend Confirmation Email</button>
        </form>
    </div>
</div>
