@model Triplite_Committee_Platform.Models.BoardModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BoardModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReqTypeID" class="control-label"></label>
                <select asp-for="ReqTypeID" class ="form-control" asp-items="ViewBag.ReqTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="National_ID" class="control-label"></label>
                <select asp-for="National_ID" class ="form-control" asp-items="ViewBag.National_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeptNo" class="control-label"></label>
                <select asp-for="DeptNo" class ="form-control" asp-items="ViewBag.DeptNo"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReqStatus" class="control-label"></label>
                <input asp-for="ReqStatus" class="form-control" />
                <span asp-validation-for="ReqStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqDate" class="control-label"></label>
                <input asp-for="ReqDate" class="form-control" />
                <span asp-validation-for="ReqDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
